* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
    overflow: hidden;
}

#card {
    margin: 100px auto 0px auto;
    background-color: #fff;
    width: 850px;
    height: 300px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    box-shadow: 0px 4px 10px #ccc;
}

#card-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

#card-image #drawers-mobile {
    display: none;
}

#card-text {
    padding: 35px;
}

#card-text h1 {
    font-size: 1.80rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    margin-bottom: 1rem;
}

#card-text p {
    font-size: 1.08rem;
    width: 90%;
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 1.65rem;
}

#author {
    width: 100%;
    display: flex;
}

#info {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
}

#info img {
    width: 75%;
    height: 185%;
    border-radius: 50%;
}

#info p {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 1px;
    font-size: 1.05rem;
}

#info small {
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    font-size: 0.95rem;
}

#share {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 28%;
}

#share-button {
    background-color: hsl(210, 46%, 95%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
}

#share-button img {
    margin: 12px 13px;
}

#share-button:hover {
    background-color: hsl(214, 17%, 51%);
    cursor: pointer;
}

#share-button:hover img {
    filter:brightness(0) invert(1);
}

#share-button:focus #social-networks,
#share-button:focus #social-networks-triangle {
    display: flex;
}

#social-networks {
    position: relative;
    width: 250px;
    height: 52px;
    background-color: hsl(217, 19%, 35%);
    display: none;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    bottom: 120px;
    right: 106px;
}

#share-text p {
    color: hsl(212, 23%, 69%);
    font-weight: 500;
    letter-spacing: 3px;
    margin: 10px;
    margin-right: 15px;
}

#share-images img {
    margin-left: 3px;
}

#social-networks-triangle {
    display: none;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 13px solid hsl(217, 19%, 35%);
    position: relative;
    bottom: 122px;
    right: -10px;
  }

@media (max-width:950px) {
    html {
        font-size: 12.5px;
    }

    #card {
        width: 650px;
        height: 325px;
    }

    #share {
        justify-content: flex-start;
    }

    #social-networks {
        width: 200px;
        height: 47px;
        right: 82px;
    }

    #share-images img {
        margin-left: -5px;
        width: 20%;
    }
}

@media (max-width:665px) {

    html {
        font-size: 14px;
    }

    #card {
        width: 337.5px;
        height: 539.19px;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        margin: 20px auto 0px auto;
    }

    #card-text {
        padding-bottom: 0px;
    }
    
    #card-text h1 {
        font-size: 1.22rem;
    }

    #card-text p {
        font-size: 0.94rem;
        line-height: 1.6;
        margin-bottom: 2.3rem;
    }

    #card-image img {
        display: none;
    }
    
    #card-image #drawers-mobile {
        display: block;
        border-radius: 10px 10px 0px 0px;
    }

    #info {
        column-gap: 18px;
    }
 
    #info img {
        width: 42.52px;
        height: 45.11px;
    }

    #info p {
        margin-bottom: 0px;
    }

    #share {
        justify-content: flex-end;
        width: 36%;
        z-index: 2;
    }

    #social-networks {
        position: relative;
        width: 337.1px;
        height: 80px;
        right: 262px;
        bottom: 57px;
        z-index: -1;
        border-radius: 0px 0px 10px 10px;
        padding: 15px;
        justify-content: left;
    }

    #share-text {
        margin-bottom: -1.2rem;
    }

    #share-images img {
        margin-left: -2px;
        width: 20%;
    }

    #social-networks-triangle {
        display: none !important;
    }

}

@media (max-width:345px) {
    
    html {
        font-size: 14px;
    }

    #card {
        width: 297.5px;
        height: 509.19px;
    }

    #card-text {
        padding: 15px;
    }

    #social-networks {
        width: 297.02px;
        bottom: 55px;
        right: 241.77px;
    }
}